<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {{ site.title | escape }}
          </li>
            {% if site.email %}
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            <div class="social-media-list">
              <a href="https://github.com/wkhearn" target="_blank"><img src="../img/icons/GitHub-code.png"/></a>
  						<a href="https://www.linkedin.com/in/kennyhearn" target="_blank"><img src="../img/icons/linkedin.svg"/></a>
  						<a href="http://www.twitter.com/wkhearn" target="_blank"><img src="../img/icons/twitter.svg"/></a>
					  </div>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }} Fullstack web developer out of <a href="https://flatironschool.com/" target="_blank">Flatiron School</a>. Tech enthusiast. Sports fanatic. A little too into pop music for someone in his 30s.</p>
      </div>
    </div>

  </div>

</footer>
