@import url(font-awesome.min.css);

:root {
	--app-height: 100%;
}

html,
body {
 overflow: hidden;
 width: 100vw;
 height: 100vh;
 max-height: -webkit-fill-available;
 height: var(--app-height);
}

/* Starts Resets and Basic */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */
@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
	html, body {
		min-width: 320px;
	}
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #fff;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

/* Type */
body, input, select, textarea {
	color: #191718;
	font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', Ubuntu, Helvetica Neue, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
}

strong, b {
	color: #191718;
	font-weight: bold;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	color: #0c051d;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 0.5em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.8em;
}

h6 {
	font-size: 0.6em;
}

@media screen and (max-width: 736px) {
	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.25em;
	}

	h3 {
		font-size: 1em;
	}

	h4 {
		font-size: 0.8em;
	}

	h5 {
		font-size: 0.6em;
	}

	h6 {
		font-size: 0.6em;
	}

	p {
		font-size: 15px;
	}
}

/* End Resets and Basic */

/* Begin Specific Styling */
/* HTML Overall */
body {
	background-color: #fff;
	color: #191718;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 1.5em;
}

/* Main */
h1 {
	font-size: 42px;
	font-weight: 800;
	margin: 0 0 0.5em 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* background-image: linear-gradient(to right top, #00359f 20%, #00ffa8 50%, #9d947d 65%); */
	/* background-image: linear-gradient(to right top, #604C7C 0%, #2fdaef 50%, #20825A 100%); */
	/* background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #ffffff),linear-gradient(70deg, #ddf4ff 32%, #dafbe1); */
	/* background-image: linear-gradient(to right, rgb(129, 118, 181), rgb(118, 196, 226)); */
	/* background-image: linear-gradient(to right top, #604C7C 0%, #2fdaef 50%, #20825A 100%); */
	background-image: linear-gradient(80deg, #b0e4ea 33%, #d7b4f3 75%);
	/* background-image: linear-gradient(80deg, #b0e4ea 33%, #809fff 75%); */
}

#main p {
	max-width: 70ch;
	margin-bottom: 3em;
}

a {
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: inherit;
	text-decoration: none;
	/* border-bottom: dotted 1px #c5c5c5; */
	/* background: linear-gradient(99deg, rgb(7, 136, 255) 0%, rgb(153, 0, 255) 100%) left bottom no-repeat; */
	background: linear-gradient(71deg, #b0e4ea 10%, #d7b4f3 90%) left bottom no-repeat;
  background-size: 100% 1px;
  padding-bottom: 2px;
}

a:hover {
	border-bottom-color: transparent;
	color: #c5c5c5;
}

a.button {
	padding: 14px 24px;
	border: none;
	/* background: linear-gradient(99deg, rgb(7, 136, 255) 0%, rgb(153, 0, 255) 100%); */
	background: linear-gradient(71deg, #b0e4ea 10%, #d7b4f3 90%);
	border-radius: 12px;
	box-shadow: rgb(106 78 255 / 20%) 0px 3px 6px 0px, rgb(0 0 0 / 10%) 0px 0px 0px 0px inset;
	width: auto;
	height: auto;
	font-size: 16px;
}

a.button:hover {
	border-bottom-color: transparent;
	color: #c5c5c5;
}

/* Footer */
footer {
	position: absolute;
	bottom: 0;
}

ul {
	list-style: disc;
	padding-left: 1em;
}

ul.contact {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 2em 0 1em;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.contact > li {
	padding: 0;
	margin-top: 8px;
	line-height: 1.2;
}

li {
	display: inline-block;
	padding: 0 0.75em 0 0;
}

li:last-child	{
	padding-right: 0;
}


ul.icons li > a, ul.icons li > span {
	border: 0;
	text-decoration: none;
	background: none;
}

ul.icons li > a .label, ul.icons li > span .label {
	display: none
}

ul.icons li > a:before, ul.icons li > span:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

li a {
	border-bottom-color: transparent;
}

@media screen and (max-width: 736px) {
	ul.contact span, ul.contact a {
		font-size: 0.9em;
	}
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #191718;
		color: #fff;
  }
}